
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-top: 0;
    font-family: sans-serif;
}



header {
    background-color: slategray;
		cursor: default;
		font-size: 1.1em;
		height: 5em;
		line-height: 5em;
		width: 100%;
		z-index: 10000;
        position: fixed;
        top: 0;
}


header * {
    display: inline;
    height: 50px;
}



header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 6em;
    color: aliceblue;
}

#home p{
    font-size: 2em;
    color: aliceblue;
}

#home button{
  background-color: aliceblue;
  border-radius: 12px;
  border: none;
  color: black;
  padding: 20px 45px;
  text-align: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

#home button:hover {
  background-color: dodgerblue; 
  color: white;
}

section h2 {
    font-size: 4em;
    margin-top: -5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: white;
}

/* Add everything below here */

#home {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://pngimage.net/wp-content/uploads/2018/06/wallpaper-png-format-5.png');
}

#about {
   background-color: aliceblue;
}

#about p{
    font-size: 1.5em;
}

#about button{
  background-color: dodgerblue;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 20px 45px;
  text-align: center;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

#about button:hover {
  background-color: white; 
  color: black;
}

#evid {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(' http://sfwallpaper.com/images/solid-background-colors-17.jpg');

}

#evid h2{
    color: white;
}

#evid p{
    color: white;
    font-size: 2em;
}

.fir{
    position: absolute;
    padding: 5px;
    margin-left:  -35em;
    margin-right: 10em;
    
}

.sec{
    position: absolute;
    margin-left: 20em;
    margin-right: 10em;  
}
